<!DOCTYPE html>
<html>
  <head>
    <title>OcActiviteBoncoin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if flash[:info] %>
      <div class="info"><%= flash[:info] %></div>
    <% end %>
    <% if flash[:error] %>
      <div class="error"><%= flash[:error] %></div>
  	<% end %>

  	<% if @current_user %>
  		<br>
      <%= form_tag "/users/login", method: :delete do %>
  			<input type="submit" value="Se déconnecter" />
  		<% end %>
  	<% end %>

    <%= yield %>
  </body>
</html>
