<!DOCTYPE html>
<html>
  <head>
    <title>OcActiviteBoncoin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div><%= flash[:info] %></div>
    <div><%= flash[:error] %></div>
  	
  	<% if @current_user %>
  		<!-- <p><a href="/users/logout">Se déconnecter</a></p> -->
  		<%= form_tag "/users/login", method: :delete do %>
  			<input type="submit" value="Se déconnecter" />
  		<% end %>
  	<% end %>

    <%= yield %>
  </body>
</html>
